[Desktop Entry]
Name=Typhoon
Comment=A stylish weather app based on Stormcloud
Exec=typhoon-native-python
Icon=io.github.archisman_panigrahi.typhoon-native-python
Terminal=false
Type=Application
Keywords=Weather;Stormcloud;Cumulus;Rain;Wind;Sun;Cloud;
Categories=Utility;
StartupWMClass=typhoon-native-python
