[Desktop Entry]
Name=Typhoon
Comment=A lightweight GTK WebKit-based application
Exec=python3 /usr/share/typhoon/typhoon/typhon_window.py
Icon=typhoon
Terminal=false
Type=Application
Categories=Utility;
