Source: typhoon
Section: python
Priority: extra
Build-Depends: python3 (>= 3.4),
 python3-distutils-extra (>= 2.43),
 dh-python
Maintainer: Archisman Panigrahi <apandada1@gmail.com>
Standards-Version: 3.9.3
X-Python-Version: >= 3.4

Package: typhoon
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends},
 gir1.2-glib-2.0,
 gir1.2-gtk-3.0,
 gir1.2-webkit2-4.0 | gir1.2-webkit2-4.1,
 yelp
Description: Quickly check the weather with this beautiful application
 Typhoon is a free and open source weather application. It is
 continuation of discontinued Stormcloud 1.1, however with some changes.
 It is and always will be free.
 PPA: https://launchpad.net/~apandada1/+archive/typhoon/
 Homepage: https://github.com/archisman-panigrahi/typhoon
