Source: typhoon
Section: python
Priority: extra
Build-Depends: debhelper-compat (=10), meson, python3-setuptools, dh-make, desktop-file-utils, gtk-update-icon-cache
Maintainer: Archisman Panigrahi <apandada1@gmail.com>
Standards-Version: 4.5.0

Package: typhoon
Architecture: all
Depends: ${misc:Depends},
 python3-pyqt6,
 python3-pyqt6.qtwebengine,
 python3-gi,
 gir1.2-xdp-1.0,
 dbus, python3-dbus
Recommends: python3-cairosvg
Description: Check the weather with style
 Typhoon is a beautiful weather application that provides real-time weather updates and forecasts.
 It is based on Stormcloud.
Homepage: https://archisman-panigrahi.github.io/typhoon
