@font-face {
    font-family:'ClimaconsRegular';
    src: url('fonts/climacons-webfont.eot');
    src: url('fonts/climacons-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/climacons-webfont.woff') format('woff'), url('fonts/climacons-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Ubuntu Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'), url('fonts/ubuntu.woff') format('woff');
}
body {
    color: #fff;
    margin: 0;
    padding: 0;
    font-family:"Ubuntu Condensed";
    overflow-y:hidden;
    overflow-x:hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
p, span, div {
    cursor: default;
}
.border .sync {
    position: absolute;
    top: 8px;
    right: -5px;
    display: inline-block;
    opacity: 0;
    -webkit-transition: 500ms ease opacity;
}
@-webkit-keyframes busy-spinning {
    from {
        -webkit-transform: rotate(0deg);
        -webkit-transform-origin: 8px 8px;
    }
    to {
        -webkit-transform: rotate(360deg);
        -webkit-transform-origin: 8px 8px;
    }
}
.border .sync.busy {
    -webkit-animation: busy-spinning 0.3s infinite linear;
}
.border {
    position: absolute;
    width: 100%;
}
.border .settings {
    position: absolute;
    right: 21px;
    top: 8px;
    opacity: 0;
    -webkit-transition: 200ms ease opacity;
}
.border .sync:hover, .border .settings:hover {
    opacity: 1 !important;
}
.border .sync img, .border .settings img {
    width: 32px;
    height: 32px;
    -webkit-user-drag: none;
    /* Retina Fix */
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
}
.close {
    font-family: monospace;
    font-size: 18px;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 34px;
    background: rgba(0, 0, 0, 0.05);
    cursor: default;
    -webkit-transition: 200ms ease background;
}
.close:hover {
    background: rgba(0, 0, 0, 0.2);
}
.minimize {
    font-family: monospace;
    font-size: 18px;
    width: 30px;
    height: 30px;
    left: 30px;
    font-weight: bold;
    position:absolute;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    background: rgba(0, 0, 0, 0.05);
    cursor: default;
    -webkit-transition: 200ms ease background;
}
.minimize:hover {
    background: rgba(0, 0, 0, 0.2);
}
#container {
    height: 500px;
    width: 300px;
    position: relative;
    background: #575591;
    overflow: hidden;
    -webkit-transition: 500ms background ease;
    -webkit-transform-origin: 0 0;
}
#actualWeather {
    display: none;
}
#code {
    font-family:"ClimaconsRegular";
    font-size: 200px;
    position: absolute;
    top: 70px;
    text-align: center;
    width: 100%;
    left: 22px;
}
/* Sunny, Tornado, Moon, Mostly Cloudy*/
 #code.w0, #code.w2, #code.w31, #code.w32, #code.w34, #code.w33, #code.w36 {
    left: 12px;
}
#code.w0, #code.w2 {
    top: 40px;
}
#code.w31, #code.w33 {
    font-size: 300px;
    top: 30px;
}
#code.w28 {
    top: 100px;
}
#city {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: -2px;
    position: relative;
    height: 275px;
    top: 45px;
    width: 100%;
    display: inline-block;
}
#city span a {
    color: #fff;
    text-decoration: none;
    -webkit-user-drag: none;
    outline: none;
}
#city span a:hover::after {
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    content: "\00A0\221E";
}
.details {
    font-size: 0;
}
.details .left {
    font-size: 70px;
    width: 50%;
    letter-spacing: -7px;
    text-align: right;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 20px;
}
.details .right {
    font-size: 27px;
    box-sizing: border-box;
    padding-left: 20px;
    display: inline-block;
    width: 50%;
    text-align: left;
    letter-spacing: 0px;
}
.week {
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 15px;
    font-size: 0;
}
.week div {
    display: inline-block;
    width: 20%;
    text-align: center;
    font-size: 18px;
    height: 110px;
    text-transform: uppercase;
    background-position: 50% -2px;
    background-repeat: no-repeat;
    background-size: 78px;
}
.week .temp {
    display: block;
    position: relative;
    top: 10px;
}
.week .temp span {
    padding-left: 5px;
    color: white;
}
.week .code {
    display: block;
    font-family:"ClimaconsRegular";
    font-size: 48px;
    text-align: center;
    text-transform: lowercase;
    position: relative;
    left: 3px;
    top: 6px;
}
/* Modals */
 #locationModal, #errorMessage {
    display: none;
    background: #444;
    position: absolute;
    width: 250px;
    top: 60px;
    padding: 25px;
    -webkit-transform-origin: 0 0;
}
#locationModal input[type=text] {
    width: 216px;
    border: 2px solid #333;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-family:"Ubuntu Condensed";
    font-size: 15px;
    outline: none;
}
#locationModal input[type=checkbox] {
    border: 2px solid #222;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    margin: 0;
    background: #333;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 50%;
    outline: none;
}
#locationModal .measurement {
    font-family:"ClimaconsRegular";
    font-size: 32px;
}
#locationModal .measurement span {
    padding: 0 7px 5px 10px;
}
#locationModal .speed span {
    line-height: 35px;
    padding: 0 7px;
    width: 42px;
    box-sizing: border-box;
    height: 41px;
    text-align: center;
}
.toggleswitch {
    margin-top: 10px;
}
.toggleswitch span {
    display: inline-block;
    line-height: 1;
    -webkit-transition: 150ms ease background-color;
    border: 2px solid #222;
    border-right: 0;
    background-color: #333;
    cursor: default;
}
.toggleswitch span.selected, #locationModal .toggleswitch span:hover {
    background-color: #555;
}
.toggleswitch span:last-child {
    border-right: 2px solid #222;
}
#locationModal .measurement span[data-type=k] {
    font-family:"Ubuntu Condensed";
    font-size: 18px;
    line-height: 36px;
    height: 37px;
    padding: 0px 14px 0px;
    vertical-align: top;
}
#locationModal .launcher {
    margin-top: 10px;
}
#locationModal label {
    margin-left: 5px;
    vertical-align: top;
}
#locationModal input[type=checkbox]:checked {
    background-image: url(tick.svg);
}
#locationModal .loader {
    font-size: 27px;
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    height: 28px;
    padding: 0 2px 0 5px;
    margin-top: 4px;
}
#locationModal .loader.loading {
    font-family:"ClimaconsRegular";
    padding-right: 0;
}
#locationModal .loader.tick {
    outline: 2px solid #333;
    background: #222;
    -webkit-transition: 150ms ease background;
    cursor: pointer;
}
#locationModal .loader.tick:hover {
    background: #333;
}
#locationModal a {
    text-decoration: none;
    color: #ffffff;
    -webkit-user-drag: none;
    outline: none;
}
#locationModal a:not([class*="btn"]):hover {
    text-decoration: underline;
}
.color {
    font-size: 0;
    margin-top: 10px;
    display: inline-block;
    border: 2px solid #333;
}
.color span {
    height: 14px;
    width: 14px;
    display: inline-block;
    border: 4px solid rgba(0, 0, 0, 0.4);
}
span[data-color=gradient] {
    background: -webkit-linear-gradient(#0081d3, #e44211);
    border: 0;
    height: 22px;
    width: 22px;
    border-right: 2px solid #333;
}
/* Contribute Button */
 .btn {
    border: 2px solid #222;
    background: #333;
    color: white;
    -webkit-transition: 150ms ease background;
    font-family:"Ubuntu Condensed";
    font-size: 17px;
    padding: 3px 10px;
    letter-spacing: -1px;
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
    -webkit-user-drag: none;
}
.btn:hover {
    background: #555;
}
input[type=range] {
    -webkit-appearance: none;
    width: 250px;
    height: 5px;
    margin: 0;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-border-radius: 15px;
    border-radius: 15px;
    cursor: default;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    margin: 2px;
    background: white;
    -webkit-border-radius: 250px;
    border-radius: 15px;
    color: white;
    position: relative;
}
.credits  {
  color: #333;
  z-index: 10;
  font-size: 15px;
  padding: 20px;
  font-family: 'Ubuntu Condensed';
  background-color: #f7f7f7;
 }
.credits img {
    cursor: pointer;
    -webkit-user-drag: none;
}
.credits h1, .credits h3 {
    margin-top: 0.3em;
    margin-bottom: 0.2em;
    color: #fff;
    letter-spacing: 0;
 }
.credits p {
    margin-top: 0;
}