on:
  workflow_dispatch:
  # release:
  #   types: [published]

name: Build Flatpak

jobs:
  flatpak:
    name: "Flatpak"
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-48
      options: --privileged
    strategy:
      matrix:
        variant:
          - arch: x86_64
            runner: ubuntu-24.04
          - arch: aarch64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.variant.runner }}
    steps:
      - uses: actions/checkout@v4
      - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: io.github.archisman_panigrahi.typhoon.${{ matrix.variant.arch }}.flatpak
          manifest-path: io.github.archisman_panigrahi.typhoon.json
          cache-key: flatpak-builder-${{ github.sha }}-${{ matrix.variant.arch }}
          arch: ${{ matrix.variant.arch }}
      
      - name: Upload Flatpak as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: flatpak-bundle-${{ matrix.variant.arch }}
          path: io.github.archisman_panigrahi.typhoon.${{ matrix.variant.arch }}.flatpak

      - name: Upload to GitHub Release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          files: io.github.archisman_panigrahi.typhoon.${{ matrix.variant.arch }}.flatpak
